.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: rgb(91, 218, 91);
  border-bottom: 1px solid black;
}

.navbar a,
.navbar a:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

.navbar button {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  
  .navbar a,
  .navbar a:hover {
    margin-bottom: 30px;
  }
}